body{
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url('../img/bg.jpeg');
    font-family: Arial, sans-serif;
    margin: 0;
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
}

h1{
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0;
}

h2{
    font-weight: 400;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 0;
    color: #333;
}

h3{
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
}

img{
    display: block;
    width:100%;
}

main{
    background: rgba(11, 12, 16, 0.6);
    max-width: 900px;
    margin:auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.7), -30px 0px 40px rgba(0, 0, 0, 0.7);
}

/* Header/////////////////////////////////////////// */

header{
    padding-top:20px;
    padding-bottom: 10px;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
}

/* SANHAX///////////////////////////////////////// */

header h1{
    font-weight: bold;
    float:left;
}

header h1 a{
    text-decoration: none;
}

#san{
    color: #66fcf1;
    border-bottom: #45a29e 3px solid;
    transition: 0.5s ease;
}

#san:hover{
    color: #45a29e;
    border-bottom: #66fcf1 3px solid;
}

#hax{
    color: #45a29e;
    border-bottom: #66fcf1 3px solid;
    transition: 0.5s ease;
}

#hax:hover{
    color: #66fcf1;
    border-bottom: #45a29e 3px solid;
}

/* Nav/////////////////////////////////////////// */

header nav{
    float:right;
}

header nav ul{
    margin:0;
    padding-top:23px;
    list-style: none;
    word-spacing: 20px;
}

header nav ul li{
    text-align: center;
    display: inline;
}

header nav ul a{
    text-decoration: none;
    color: #c5c6c7;
    font-size: 1.2rem;
    font-weight:bold;
    transition: 0.5s ease;
}

.current{
    color: #45a29e;
    border-bottom: #66fcf1 1.5px solid;
    padding-bottom:5px;
}

header nav ul a:hover{
    color: #66fcf1;
}

/* Container////////////////////////////////// */

.container{
    overflow:hidden;
    margin:50px;
}

/* POSTS//////////////////////////////////// */
section{
    padding:10px;
    background: rgba(31, 40, 51, 0.5);
    float:left;
    width: 60%;
    border-radius: 5px;
    margin-bottom: 20px;
}

section h2{
    margin-left: 5px;
    font-weight: 500;
    font-size: 1.5rem;
    color: #c5c6c7;
}

.post{
    margin-top:10px;
    background: rgba(11, 12, 16, 0.25);
    color: #c5c6c7;
    border-radius: 5px;
    padding: 10px;
}

.post h3{
    text-transform: uppercase;
    margin: 5px 0 20px 0;
}

.post h3 a:link,
.post h3 a:visited{
    color: #45a29e;;
    text-decoration: none;
    transition: 0.5s ease;
}

.post h3 a:hover,
.post h3 a:active{
    color: #66fcf1;
}

.frontimg{
    border-radius: 5px;
    overflow:hidden;
}

.frontimg img{
    opacity: 0.8;
    transition: 0.5s ease;
}

.frontimg:hover img{
    transform: scale(1.2);
    opacity: 1;
}

.frontimg:hover{
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5);
}

.post p{
    line-height: 1.3;
    letter-spacing: 0.5px;
    font-weight: lighter;
    font-size: 13px;
}

/* Trending//////////////////////////////////////////// */
.drop{
    display:none;
}

.up{
    display:none;
}

aside{
    background: rgba(31, 40, 51, 0.5);
    border-radius: 5px;
    width:35%;
    float:right;
}

.trendingss{
    overflow: auto;
}

.trending{
    margin-top: 10px;
    margin-bottom: 5px;
    float:left;
    color: #c5c6c7;
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

aside ul{
    list-style: none;
    background: rgba(11, 12, 16, 0.25);
    display: block;
    margin:5px;
    padding:5px;
    line-height: 1.5;
    text-align: left;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

aside ul li a:link,
aside ul li a:visited{
    text-decoration: none;
    color: #45a29e;
    font-size: 14px;
    letter-spacing: 0.5px;
    transition: 0.5s ease;
}

aside ul li a:hover,
aside ul li a:active{
    color: #66fcf1;
}

/* Footer/////////////////////////////////////////// */
footer{
    box-shadow: 0 -30px 40px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 2rem 1rem;
    margin:auto;
    background: #0b0c10;
    color:#c5c6c7;
}

footer h3{
    font-size: 3rem;
    margin-bottom: 0;
}

/* Screen sizes */

@media (max-width: 710px){
    header{
        margin-bottom: 0;
    }
    header h1{
        font-size: 2rem;
        float:none;
        text-align: center;
    }

    header nav ul{
        margin:12px 0 0 0;
        padding: 0;
        line-height: 1.5rem;
    }

    header nav{
        font-size: 1rem;
        float: none;
        text-align: center;
    }

    header nav ul li a{
        font-size: 1rem;
    }

    .trending{
        font-size: 1.3rem;
    }

    .container{
        margin-left:15px;
        margin-right:15px;
        margin-top: 30px;
    }

    section h2{
        font-size: 1.3rem;
    }

    .post h3 a{
        font-size: 1.2rem;
    }
}

@media (max-width: 600px){
    section{
        float: none;
        width:95%;
    }

    aside{
        background-color: #0b0c10;
        float:none;
        width: 100%;
    }

    aside ul{
        margin-bottom:20px;
        padding:5px 0 5px 10px;
    }

    .trendingss{
        background-color:rgba(69, 162, 158, 0.75);
        width: 99%;
        border-radius: 5px;
        border: rgba(102, 252, 241, 0.3) 1px solid;
    }

    .trending{
        margin-left: 10px;
        margin-top:8px;
        margin-bottom:8px;
        float:left;
        color: #fff;
        font-size: 1.1rem;
        border-bottom: none;
    }

    .trendingss:hover{
        background-color: rgba(102, 252, 241, 0.6);
    }

    .drop{
        margin-top:10px;
        margin-right: 10px;
        color: #fff;
        display: inherit;
        float: right;
    }

    .up{
        margin-top:10px;
        margin-right: 10px;
        color: #fff;
        float: right;
    }

    .container{
        margin: 10px;
    }
}

@media (max-width: 450px) {
    body{
        
    }
}

@media (max-width:400px) {
    section{
        width:94%;
    }
}

@media (max-width:350px) {
    section{
        width:92%;
    }
}

@media (max-width:250px) {
    section{
        width:90%;
    }
}

@media (max-width:200px) {
    section{
        width:88%;
    }
}
